header {
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
}

header img {
  max-height: 50px;
  margin-left: 10px;
}

header a {
  color: seashell;
  text-decoration: underline;
  opacity: 0.9;
}

nav {
  margin-left: auto;
  margin-right: 10px;
}

nav a {
  padding: 0 10px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.missionheader {
  padding-top: 67px;
  min-height: 0px;
  display: flex;
  max-width: auto;
  max-height: auto;
}

.missionimage {
  display: flex;
  background-image: url(./images/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin: auto;
  align-items: center;
}

.missionimage div {
  background-color: black;
  width: 100%;
  text-align: center;
}

.featuredteaheader {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: auto;
  max-width: 1000px;
  margin: 20px auto 0;
  text-align: center;
  justify-content: center;
}

.featurecontainer {
  display: flex;
  max-width: 1000px;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

figure {
  margin: 0 33px 25px 0px;
}

.featureimage figc aption {
  text-align: center;
  padding-top: 10px;
}

.featureimage img {
  max-width: 300px;
  max-height: 200px;
}

.locationscontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.locationscontainerbackground {
  background-image: url(./images/img-locations-background.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  min-height: 500px;
  max-width: 1200px;
  margin: 40px auto 0;
}

.address {
  padding-bottom: 20px;
  font-style: normal;
}

.blackboxcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  z-index: 1;
}

.blackbox {
  width: 300px;
  background-color: black;
  text-align: center;
  opacity: 0.95;
}

.endcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 200px;
}

.endcontainer a {
  color: seashell;
  text-decoration: underline;
  opacity: 0.9;
}

.endcontainer h3 {
  margin: 0;
}

.footer {
  display: flex;
  text-align: left;
  margin-left: 20px;
}
